.knawatfibu_remove, .knawatfibu_pvar_remove{
	display: none;
	position: absolute;
	right: 6px;
	color: rgb(255, 255, 255);
	background-color: #999;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	height: 22px;
	width: 22px; 
	border-radius: 50%;
}
.knawatfibu_remove:hover, .knawatfibu_pvar_remove:hover{
	background-color: red;
}
.knawatfibu_wcgallary:hover .knawatfibu_remove{
	display: block;
}

.knawatfibu_pvar_img_wrap:hover .knawatfibu_pvar_remove{
	display: block;
}

.knawatfibu_pvar_remove {
    font-size: 24px;
    height: 26px;
    width: 26px;
    top: -5px;
}

.knawatfibu_pvar_img_wrap{
	position: relative;
	max-width: 160px;
	margin-top: 15px;
}

#knawatfibu_noimg, #knawatfibu_img, .knawatfibu_img{
	max-width:100%;
	height:auto;
	width:100%;
	border:1px dotted #ddd;
	min-height:20px;
	margin-top:8px;
	text-align:center;
	color:#ddd;
}

#knawatfibu_noimg{
	padding: 10px;
	display: block;
	box-sizing: border-box;
}

#knawatfibu_preview, .knawatfibu_preview{
	text-align:center;
	width:36%;
	display:inline-block;
}

#knawatfibu_url, .knawatfibu_url{
	width: 60%;
}

#knawatfibu_alt, .knawatfibu_alt{
	width: 100%;
}

.knawatfibu_pvar_img_wrap img.knawatfibu_pvar_img{
	max-width: 150px;
	height: auto;
	width: auto;
	vertical-align: top;
	background-image: linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4),linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4);
	background-position: 0 0,10px 10px;
	background-size: 20px 20px;
}