#knawatfibu_noimg, #knawatfibu_img, .knawatfibu_img{
	max-width:100%;
	height:auto;
	width:100%;
	border:1px dotted #ddd;
	min-height:20px;
	margin-top:8px;
	text-align:center;
	color:#ddd;
}

#knawatfibu_noimg{
	padding: 10px;
	display: block;
	box-sizing: border-box;
}

#knawatfibu_preview, .knawatfibu_preview{
	text-align:center;
	width:36%;
	display:inline-block;
}

#knawatfibu_url, .knawatfibu_url{
	width: 60%;
}

#knawatfibu_alt, .knawatfibu_alt{
	width: 100%;
}

.knawatfibu_pvar_img_wrap img.knawatfibu_pvar_img{
	max-width: 150px;
	height: auto;
	width: auto;
	vertical-align: top;
	background-image: linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4),linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4);
	background-position: 0 0,10px 10px;
	background-size: 20px 20px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

.knawatfibu_pvar_img_wrap{
	position: relative;
	max-width: 150px;
	margin-top: 15px;
}

.knawatfibu_wcgallary:hover .knawatfibu_remove{
	display: block;
}

.knawatfibu_pvar_img_wrap:hover .knawatfibu_pvar_remove{
	display: block;
}

#knawatfibu_wcgallary_metabox .inside{
	margin: 0px;
    padding: 0px;
}

#knawatfibu_wcgallary_metabox_content{
	margin: 0 0 0 9px;
}

.knawatfibu_wcgallary {
    width: 80px;
    float: left;
    margin: 9px 9px 0px 0px;
	position: relative;
	box-sizing: border-box;
	border: 1px solid #d5d5d5;
	background: #f7f7f7;
	border-radius: 2px;
}

.knawatfibu_wcgallary .knawatfibu_img_wrap{
	height: 80px;
	overflow: hidden;
	box-sizing: border-box;
}

.knawatfibu_wcgallary img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
	display: block;
	border: none;
}

.knawatfibu_wcgallary:nth-last-child(1) {
	border: none;
	background: transparent;
	width: 100% !important;
	clear: both;
	float: none !important;
	padding: 15px 9px 15px 0px;
	margin: 0px;
}

.knawatfibu_wcgallary span.knawatfibu_remove, span.knawatfibu_pvar_remove{
	display: none;
	position: absolute;
	right: 14px;
	top: -6px;
	text-align: center;
	cursor: pointer;
}

.knawatfibu_wcgallary span.knawatfibu_remove::before, span.knawatfibu_pvar_remove::before{
	font-family: Dashicons;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	content: "\f153";
	color: #999;
	background: #fff;
	border-radius: 50%;
	height: 1em;
	width: 1em;
	line-height: 1em;
	font-size: 1.6em;
}

span.knawatfibu_pvar_remove::before{
	font-size: 2em;
}

span.knawatfibu_pvar_remove{
	right: 16px;
	top: -8px;
}

.knawatfibu_wcgallary span.knawatfibu_remove:hover::before, span.knawatfibu_pvar_remove:hover::before {
    color: #d00;
}
